.experiment-simulation {
  position: relative;
  width: 100%;
  height: calc(100vh - 5rem);

  .canvas {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: block;
    transform: translate(-1rem, -1rem);
  }

  
}
