.experiment-simulation {
  position: relative;
  width: 100%;
  height: calc(100vh - 5rem);

  .canvas {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: block;
    transform: translate(-1rem, -1rem);
  }

  .now-step {
    position: absolute;
    left: 1rem;
    top: 4rem;
    color: #fff;
    background: no-repeat center url("src/assets/img/experiment/当前步骤.png");
    background-size: 100% 100%;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
  }
  .left-button-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 100%;

    .animation-list {
      height: 55%;
      overflow:hidden auto ;

      .animation-item {
        width: 8rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        background: no-repeat center url("@/assets/img/experiment/步骤.png");
        background-size: 100% 100%;
        color: #75d2fa;
        cursor: pointer;
        border-radius: 15px;
        margin-bottom: 0.55rem;
        &:hover {
          background-color: rgba(0, 255, 255, 0.3);
        }

        &.finish {
          background-image: url("@/assets/img/experiment/步骤finish.png");
        }
      }
    }
  }

  .center-bottom-desc {
    position: absolute;
    left: 50%;
    width: 70%;
    bottom: 1rem;
    min-height: 8rem;
    transform: translateX(-50%);
    background: no-repeat center url("@/assets/img/experiment/文本框.png");
    background-size: 100% 100%;
    padding: 1rem;
    color: #fff;
  }
}
